.date-adder {
	position: relative;
	height: auto;
	width: 100%;
	z-index: 1;
}

.date-adder {
	z-index: 1;
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	justify-content: center;
	align-items: center;
	gap: calc(var(--gap) * 1.5);
	margin-bottom: var(--gap);
	transition: var(--transition);
	width: 100%;
}

.header > h2,
.week-days,
.holy-sunday {
	text-align: center;
}

.header {
	width: 100%;
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: auto 1fr auto;
}

.header > img {
	cursor: pointer;
}

.week-days,
.holy-sunday {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	align-self: baseline;
}

.week-days {
	grid-column: 1 / 1;
	z-index: 2;
}

.holy-sunday {
	grid-column: 2 / 2;
	z-index: 2;
}

.checkbox {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
}

.checkbox > label {
	height: 2em;
}

.checkbox > div:first-of-type {
	justify-self: baseline;
}

.checkbox > div:last-child {
	position: absolute;
	bottom: calc(0px - var(--gap));
	right: 0;
	transform: translateY(100%);
	z-index: 1;
	transition: var(--transition);
	display: flex;
	flex-direction: column;
	border-radius: 0 0 0 var(--border-radius);
	box-shadow: -3px 5px 10px rgb(0 0 0 / 20%);
	overflow: hidden;
}

.selection {
	color: var(--cl-grayed);
	font-style: italic;
}

.shortcut {
	font-size: 0.8em;
}
