.button {
	padding: 8px 20px;
	background-color: var(--cl-main);
	border: 1px solid var(--cl-dark);
	color: #fff;
	font-size: 1.2rem;
	border-radius: var(--border-radius);
	border-top: 1.5px solid var(--cl-light);
	border-left: 1.5px solid var(--cl-light);
	cursor: pointer;
}

@media screen and (max-width: 765px) {
	.button {
		width: 100%;
	}
}
