.card {
	position: relative;
	display: flex;
	align-items: center;
	padding: calc(var(--gap) / 1.5) calc(var(--gap) / 3);
	box-shadow: 2px 2px 8px var(--cl-background-dark);
	background-color: var(--cl-background-light);
	border-radius: var(--border-radius);
	transform: translate(0, 0);
	transition: all calc(var(--transition-time) / 3) ease;
	font-size: 1.2em;
	z-index: 1;
}

.card:hover {
	transform: translate(0, -4px);
	cursor: pointer;
}

.card:before {
	content: url('../../../icons/cross.svg');
	display: flex;
	align-items: center;
	margin-left: -5px;
	margin-right: 5px;
	transform: translatey(2px);
	height: 100%;
}
