.header {
	width: 100vw;
	height: var(--nav-height);
	background-color: var(--cl-background);
	color: var(--cl-font);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	z-index: 999;
	border-bottom: 1px solid var(--cl-background-light);
}

.header > div:first-child {
	height: 90%;
	display: inline-flex;
	gap: calc(var(--gap) * 3);
}

.helpers {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: var(--gap);
	transform: translateX(-60%);
	z-index: 100;
}

.shortcuts {
	position: relative;
}

.shortcuts > ul {
	position: absolute;
	top: calc(var(--nav-height) + 5px);
	margin: 0;
	left: -5px;
	width: 500px;
	background-color: var(--cl-background-dark);
	color: var(--cl-font);
	list-style: outside;
	z-index: 999;
	padding: calc(var(--gap) * 1.5);
	padding-left: calc(var(--gap) * 2.5);
	border-radius: var(--border-radius);
	box-shadow: 2px 2px 6px 5px rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	gap: calc(var(--gap) / 2);
	transform: translateY(-145%);
	opacity: 0;
	transition: all calc(var(--transition-time) / 2) ease;
}

.shortcuts > ul:before {
	content: '';
	position: absolute;
	top: -14px;
	left: 10px;
	width: 30px;
	height: 30px;
	transform: rotate(53deg) skew(20deg);
	background-color: var(--cl-background-dark);
}

.shortcuts:hover ul {
	transform: translateY(0);
	opacity: 1;
}

.shortcuts > ul > h3 {
	font-size: 1.3em;
	margin-bottom: calc(var(--gap) / 1.5);
}

.shortcuts li > span {
	font-size: 1.4em;
	margin-right: 10px;
	color: var(--cl-grayed);
}
.shortcuts b {
	font-style: italic;
}

.shortcuts li > span > img {
	transform: translateY(7px);
}

.shortcuts li {
	font-size: 1.2em;
	line-height: 1.6em;
}

.user {
	display: flex;
	gap: calc(var(--gap) * 2);
	align-items: center;
}

.user > * {
	white-space: nowrap;
}

.logout {
	margin-bottom: -8px;
	margin-left: 8px;
}

.github > img {
	position: relative;
	width: 40px;
	cursor: pointer;
}

.github::after {
	content: 'kod źródłowy aplikacji';
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0px;
	opacity: 0;
	width: 100%;
	height: 100%;
	color: var(--cl-font);
	transform: translateY(-100%);
	background-color: var(--cl-background-dark);
	padding: calc(var(--gap) / 2) var(--gap);
	border-radius: var(--border-radius);
	box-shadow: 2px 2px 6px 5px rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(0, 0, 0, 0.3);
	line-height: 1.4em;
	transition: all calc(var(--transition-time) / 2) ease;
}

.github:hover::after {
	transform: translateY(80%);
	opacity: 1;
}
