.header {
	width: 100vw;
	height: var(--nav-height);
	background-color: var(--cl-background-dark);
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	z-index: 999;
}

.header > img {
	max-height: 90%;
	filter: drop-shadow(
		0 0 5px hsla(var(--cl-main-h), var(--cl-main-s), var(--cl-main-l), 0.5)
	);
}

.user {
	display: flex;
	gap: calc(var(--gap) * 2);
	align-items: center;
}

.user > * {
	white-space: nowrap;
}
