.dashboard {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 100%;
	height: 100%;
	width: 100%;
	padding: calc(var(--gap) * 1.5);
	gap: calc(var(--gap) * 2);
	background-color: var(--cl-background);
}

.map-and-hours {
	position: relative;
	display: flex;
	flex-direction: column;
}

.form {
	position: relative;
	width: 100%;
	height: 100%;
}
