.city,
.adress {
	display: flex;
	width: 100%;
}

.adress > div:first-child,
.city > div:first-child {
	width: 100%;
}

.adress > img,
.city > img {
	position: relative;
	align-self: baseline;
	top: calc(var(--gap) + 2px);
}
