.church-list {
	box-shadow: 0 0 8px 5px var(--cl-background-dark);
	border-radius: 12px;
	height: 100%;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: var(--gap);
	padding-top: 0;
	z-index: 5;
	background-color: var(--cl-background);
	background-image: linear-gradient(
		var(--cl-background),
		var(--cl-background-light)
	);
	transition: var(--transition);
}

.church-list > * {
	width: 100%;
}

.list {
	display: flex;
	flex: 1;
	min-height: 0px;
	height: 100%;
	flex-direction: column;
	align-items: center;
	gap: calc(var(--gap) * 2);
	margin-top: calc(var(--gap) * 1.3);
	padding-bottom: calc(var(--gap) * 2);
	overflow-x: visible;
	overflow-y: auto;
}

.list::-webkit-scrollbar {
	width: 8px;
}

.list::-webkit-scrollbar-track {
	background: var(--cl-background-light);
	border-radius: 10px;
}

.list::-webkit-scrollbar-track-piece {
	width: 2px !important;
}

.list::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: var(--cl-background-dark);
}

.list::-webkit-scrollbar-thumb:hover {
	background: var(--cl-background);
}

.list > ul {
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: var(--gap);
}

.list > ul > h3 {
	width: fit-content;
	border-bottom: 1px solid var(--cl-main);
	padding: calc(var(--gap) / 2) var(--gap);
	text-align: center;
	font-size: 1.5em;
}

.list > ul > li {
	width: 100%;
}

.enter {
	transform: translateY(5px);
	max-width: 18px;
}

.church-list > button {
	box-shadow: 0 0 10px var(--cl-background-dark);
	width: 100%;
	margin-top: calc(var(--gap));
	z-index: 10;
	position: sticky;
	bottom: 0;
}
