.church-list {
	box-shadow: 0 0 8px 5px var(--cl-background-dark);
	border-radius: 12px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: calc(var(--gap) * 2);
	padding: var(--gap);
	padding-top: 0;
	z-index: 5;
	background-color: var(--cl-background);
	background-image: linear-gradient(
		var(--cl-background),
		var(--cl-background-light)
	);
	transition: var(--transition);
	overflow-y: auto;
}

.church-list > * {
	width: 100%;
}

.list {
	width: 95%;
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-items: center;
	gap: calc(var(--gap) * 2);
}

.list > ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: var(--gap);
}

.list > ul > h3 {
	width: fit-content;
	border-bottom: 1px solid var(--cl-main);
	padding: calc(var(--gap) / 2) var(--gap);
	text-align: center;
	font-size: 1.5em;
}

.list > ul > li {
	width: 100%;
}

.enter {
	transform: translateY(5px);
	max-width: 18px;
}

.church-list > *:last-child {
	box-shadow: 0 0 10px var(--cl-background-dark);
}
