:root {
	--cl-dark: hsl(80, 75%, 19%);
	--cl-main: hsl(var(--cl-main-h), var(--cl-main-s), var(--cl-main-l));
	--cl-light: hsl(var(--cl-light-h), var(--cl-light-s), var(--cl-light-l));
	--yellow: #ecf87f;
	--red: #f44c29;

	/**************/
	--cl-main-h: 90;
	--cl-main-s: 71%;
	--cl-main-l: 35%;

	--cl-light-h: 81;
	--cl-light-s: 69%;
	--cl-light-l: 42%;
	/**************/

	--cl-background: #444;
	--cl-background-dark: #333;
	--cl-background-light: rgb(
		var(--cl-background-light-r),
		var(--cl-background-light-g),
		var(--cl-background-light-b)
	);

	--cl-background-light-r: 85;
	--cl-background-light-g: 85;
	--cl-background-light-b: 85;

	--cl-font: rgb(var(--cl-font-r), var(--cl-font-g), var(--cl-font-b));

	--cl-font-r: 255;
	--cl-font-g: 255;
	--cl-font-b: 255;

	/**************/

	--cl-grayed: rgb(
		var(--cl-grayed-r),
		var(--cl-grayed-g),
		var(--cl-grayed-b)
	);

	--cl-grayed-r: 134;
	--cl-grayed-g: 134;
	--cl-grayed-b: 134;

	/**************/

	--gap: 15px;
	--nav-height: 60px;
	--border-radius: 8px;
	--transition: all var(--transition-time) ease;
	--transition-time: 0.8s;
}

body {
	margin: 0;
	padding: 0;
	color: var(--cl-font);
	background-color: var(--cl-background-dark);
}

h1 {
	font-size: 2em;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--cl-light);
	font-weight: bold;
}

img {
	max-width: 100%;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: var(--cl-background-light);
	border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
	width: 2px !important;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: var(--cl-background-dark);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--cl-background);
}

.vertical-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--gap);
	margin: var(--gap) 0;
}

.spin-wrapper .uil-spin-css > div > div {
	background: var(--cl-main) !important;
}

.leaflet-container {
	width: 100%;
	height: 100%;
}

.rdrYearPicker {
	display: none;
}

.grayed-out {
	color: var(--cl-grayed);
}

.grayed-out-light {
	color: rgb(
		calc(var(--cl-grayed-r) * 1.4),
		calc(var(--cl-grayed-g) * 1.4),
		calc(var(--cl-grayed-b) * 1.4)
	);
}

.my-position {
	text-align: center;
}
